@{
    ViewBag.Title = "How it works";
}
<h2>@ViewBag.Title.</h2>

<p>Put in a description of how the voting actualy works. explaining that the games you select are your permanant non-moving votes and your 1/2/3 are votes that float to another game if you lose</p>
