@{
    ViewBag.Title = "Lets Play!";
}

<h1>GameNight at Daves!!!!</h1>
<h2>Click on your name to vote on the current ballot. Click on create list to make a new ballot.</h2>
<br />
    
<div class="container-fluid">
    <center>
        <section class="row">
            <div class="col-lg-4" id="BigButton">
                <a href="~/Home/Player/David" class="dash_button">David</a>
            </div>
            <div class="col-lg-4" id="BigButton">
                <a href="~/Home/Player/Connie" class="dash_button">Connie</a>
            </div>
            <div class="col-lg-4" id="BigButton">
                <a href="~/Home/Player/Gary" class="dash_button">Gary</a>
            </div>
        </section>
        <section class="row">
            <div class="col-lg-4" id="BigButton">
                <a href="~/Home/Player/Jose" class="dash_button">Jose</a>
            </div>
            <div class="col-lg-4" id="BigButton">
                <a href="~/Home/Player/Sam" class="dash_button">Sam</a>
            </div>
            <div class="col-lg-4" id="BigButton">
                <a href="~/Home/Player/Jeremy" class="dash_button">Jeremy</a>
            </div>
        </section>
    </center>
</div>
