
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string PlayerName = Path.GetFileName(Request.Url.ToString());
    ViewBag.Title = PlayerName + " Please Vote";
    ViewBag.Name = PlayerName;
    GameVote.Models.GameModels GameHelper = new GameVote.Models.GameModels();
}



<h2>Choose your games!</h2>
    <ul class="GameList" id="ListOfGames" name="@PlayerName" style="list-style-type:none">
        @Html.Raw(ViewBag.Query)
    </ul>
    <button id="SubmitButton" name="SubmitButton" class="btn btn-success">Vote</button>

@section scripts{
    <script>
        $('#SubmitButton').click(function () {
            var elem = document.getElementsByClassName("VotePos");
            var name = '@(ViewBag.Name)';
            for (var i = 0; i < elem.length; i++) {
                if (elem[i].checked) {
                    alert(elem[i].name + " POS " + elem[i].value + " was selected by " + name);

                }
            }
        });
    </script>
}
