body {
    padding-top: 50px;
    padding-bottom: 20px;
    display: block;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

h2{
    font-size:1.5em;
    font-weight:bold;
}

#BigButton{
    margin-bottom: 20px;
}

.dash_button{
	background: grey;
	color: white;
	border-radius: 5px;
	box-shadow: inset 3px 3px 1px rgba(255,255,255,0.3);
	line-height: 2em;
	padding: .5em 1em .5em 1em;
	text-decoration: none;
	text-transform:uppercase;
	font-size:2em;
}

/*The following is for the game lists*/
.GameName{
    text-align: center;
    margin-top: -10px;
}

.GameImage{
    float: left;
    margin-right: 10px;
}

.GameStats{
    font-weight:bold;
    border: inset;
    display: inline-block;
    position:relative;
    left:2px;
    padding: 1px 5px 1px 5px;
}

.GameEdit{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 0px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    float: right;
}

.well{
    height: 230px;
    overflow: hidden;
    position: relative;
}

.GameList{
    list-style:none;
    padding-left:0px;
}
/*The following is for th Ballot*/
.GameName_ballot{
    text-align: center;
    margin-top: -10px;
}

.VotePos{
    vertical-align: -2px;
}

.VotePos2{
    vertical-align: -2px;
}

.VoteFloat{
    position: fixed;
    z-index: 10000;
    bottom: 0;
    left:0;
    font-weight:bold;
    background: #222222;
	line-height: 2em;
	padding: .5em 1em .5em 1em;
    width: 100%;
}

/*The following section auto hides game info on ballot*/
.ShowInfo{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 0px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    float: right;
}

.ShowInfo:focus ~ .HideInfo {
    display: block;
}

.ballot{
    height: auto;
}

.HideInfo{
    display:none;
}

/*The following section is for the counter on the add and edit game form*/
#counter{
	background-color: transparent;
    border: 0px solid;
	text-align: right;
}

#fullCounter{
    float:right;
}